@model IEnumerable<PetStore.Models.Pet>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td class="petImg" rowspan="2"><img src="@Html.DisplayFor(modelItem => item.ImageURL)"></td>
            <td class="wordB">
                <h3 class="noMB">@Html.DisplayFor(modelItem => item.Animal)</h3>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-justify">@Html.DisplayFor(modelItem => item.ShortDescription)</p>
                @Html.ActionLink("View", "ViewPet", new { id = item.ID })
            </td>
        </tr>
    }

</table>
