@model IEnumerable<PetStore.Models.Pet>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td rowspan="2"></td>
            <td nowrap>
                <h4>@Html.DisplayFor(modelItem => item.Animal)</h4>
            </td>
        </tr>
        <tr>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                @Html.ActionLink("View", "ViewPet", new { id = item.ID })
            </td>
        </tr>
    }

</table>
