@{
    ViewBag.Title = "Pet Store";
}

<div class="jumbotron">
    <h1>Welcome to Tara's Pet Store!</h1>
    <h3>MVC.net PetStore - Assignment 6</h3>
    <p>My pet store is full of animals that need loving homes. From dogs to cats, lizards to rats, and even some animals that 
    don't necessarily exist in the real world, you can find it all at my pet store. Click the Inventory button to view the animals 
    we currently have available for purchase. Hopefully you can find an animal to suit your needs!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="img-rounded" src="http://parade.condenast.com/wp-content/uploads/2013/12/pizza-cat.jpg">
    </div>
    <div class="col-md-4">
        <img class="img-rounded" src="http://i58.tinypic.com/spzzua.jpg">
    </div>
    <div class="col-md-4">
        <img class="img-rounded" src="http://i60.tinypic.com/ao5j4n.jpg">
    </div>
</div>