@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This MVC Movie application contains a movie database that allowsyou to add, edit, or delete movies.
    After clicking on MVC Movie, use the Create New link to add movies and view each movie in detail by
    clicking the detail link. You can also edit and delete movies or search through them by genre and/or
    title. Add your favorite movies or edit existing ones!</p>
