@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Assignment 7</h2>
</hgroup>

<article>
    <p>
        This assignment was to create a product store application using MVC.NET. Regular users can add items to their cart,
        create orders, and view there previous orders. A system administrator account can be used to add, update, or delete products
        from the store. 
    </p>
</article>